<p-toast></p-toast>

<div class="fondoLogin">
  <div class="container">
    <div class="formBox level-login">
      <div class="box boxShaddow"></div>
      <div class="box loginBox">
        <div class="logoContainer">
          <img
            class="loginLogo"
            src="../../../assets/images/logoLogin.jpg"
            alt=""
            style="width: 100px; height: 100px;"
          />
        </div>

        <form [formGroup]="loginForm">
          <div class="f_row last">
            <input
              pInputText
              id="user"
              type="text"
              formControlName="user"
              placeholder="  User"
            />
            <small
              class="p-error"
              *ngIf="
                loginForm.get('user')?.touched && loginForm.get('user')?.errors
              "
            >
            User field is required.</small
            >
            <u></u>
          </div>
          <div class="f_row last">

            <p-password [toggleMask]="true"  id="password" formControlName="password" placeholder="Password" [feedback]="false"></p-password>
            <small
              class="p-error"
              *ngIf="
                loginForm.get('password')?.touched &&
                loginForm.get('password')?.errors
              "
            >
            Password field is required.</small
            >
            <u></u>
          </div>
          <button id="btn" type="submit" (click)="login()" class="btn">
            <span>LOGIN</span><u></u>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
