<header class="top-bar">
  <p-button [outlined]="true"   routerLink="/inicio">
      <img
        class="logo"
        alt="logo"
        src="../../../assets/images/logoSerenity.png"
        style="width: 1.5rem"
      />
      <span class="font-bold" > Serenity BDD </span>
      </p-button>

<div class="nav-container">



  <p-button

    class="nav-item in"
    [rounded]="true"
    severity="info"
    [outlined]="true"

  ><i class="pi pi-user"></i></p-button>

  <span *ngIf="userLoginOn" class="user-name">
    {{user}}
   </span>

  <p-button
  *ngIf="userLoginOn"
  class="nav-item"

  [text]="true"
  severity="info"
  [outlined]="true"
  (onClick)="singOut()"

> <i class="pi pi-sign-out"></i></p-button>

  <p-button
    *ngIf="!userLoginOn"
    class="nav-item"

    [text]="true"
    severity="info"
    [outlined]="true"
    routerLink="/inicio-sesion"

  ><i class="pi pi-sign-in"></i>
  </p-button>
</div>
</header>
